#social-media {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* Ensure items are displayed horizontally */
}

#social-media i {
    font-size: 20px;
    margin: 0 10px;
}

.nav-item {
    text-align: right;
}