body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    position: relative;
    /* Ensure particles are positioned relative to the body */
}

/* -------------- IDS -------------- */
#social-media {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    /* Ensure items are displayed horizontally */
}

#social-media i {
    font-size: 20px;
    margin: 0 10px;
}

/* -------------- CLASSES -------------- */
.button3d {
    background: hsl(222, 85%, 24%);
    border-radius: 12px;
    border: none;
    padding: 0;
    outline-offset: 4px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", serif;
    font-style: normal;
}

.button3d h2 {
    display: block;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(222, 100%, 56%);
    color: rgb(252, 252, 252);
    transform: translateY(-6px);
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.8);
    /* Black with 80% opacity */
}

.nav-item {
    text-align: right;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    /* Set initial opacity to 0 for fade-in effect */
    border-radius: 35%;
    z-index: -1;
    animation: moveUpDown infinite alternate ease-in-out, fadeIn 1s forwards;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    to {
        opacity: var(--final-opacity, 1);
        /* Use custom property for final opacity */
    }
}